$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    .btn {
        padding: 14px 24px;
        cursor: pointer;
    }
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
    p + h4 {
        margin-top: 28px;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 600px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
        padding: 0;
    }
}

body {
    background: #e3e3e3;
}

.jumbotron {
    text-align: left;
    min-height: 350px;
    max-height: 350px;
    overflow-y:scroll;
    margin-bottom: 1px;
    padding-bottom: 1px;
    border-top: 20px solid;
    background: url(/images/paper3.jpg);
}

.taskList  {
    margin-top: 10px;
    padding-left: 0;
    float: left;
    list-style-type: none;
    font-size: 24px;
    cursor: pointer;
}

#centerNav {
    text-align: center;
}

.todoTitle {
    text-align: center;
    color: #b3b3b3;
    font-size: 70px;
}

#navRow {
    border-radius: 10%;
    position: relative;
    margin-left: 0.5%;
    background: #c1c1c1;
    max-width: 565px;
    clear: both;
        p {
            font-size: 14px;
            margin-bottom: 2px;
        }
}

#postNav {
    position: relative;
    margin-left: 23%;
}

#clear {
    float: right;
}

.footer {
    text-align: center;
}

.glyphicon {
    cursor: pointer;
}

#addBtn {
    float: right;
}

.lineThrough {
    text-decoration: line-through;
    color: red;
}

#newTaskItem {
    min-width: 400px;
}

.tasksTitle {
    width: 400px;
    border-bottom: 4px dashed #b3b3b3;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.deleteTodo {
    float: right;
}






